<div style="text-align: center;">
	<h1>Háskóli Íslands</h1>
	<h2>Tölvustýrður vélbúnaður</h2>
	<h3>VÉL205M</h3>
	<hr style="border: 0.5mm solid black;">
	<h1>Vínróbotar hjólið</h1>
	<hr style="border: 0.5mm solid black;">
	<p>Nemendur:</p>
	<p>Elías Lúðvíksson</p>
	<p>Sveinn Sigurðarsson</p>
	<p>Kennarar:</p>
	<p>Magnús Þór Jónsson</p>
	<p>Hafliði Ásgeirsson</p>
	<p>20 March 2024</p>
</div>

<h2>Hönnun frumlegs vínróbots</h2>
<h3>Hönnunarkröfur</h3>
<ol>
	<li>Byrjar í 20cm fjarlægð</li>
	<li>Grípur glasið</li>
	<li>Lyftir því upp um 35cm</li>
	<li>hallar því að dómara</li>
</ol>
<h3>Hönnunarskorður</h3>
<ol>
	<li>Takmarkað aðgengi að mótorum, þeir sem koma seint fá víst ekkert þessa dagana.</li>
	<li>60cm á breidd</li>
	<li>60cm á hæð</li>
</ol>
<h3>Hönnun</h3>
<p>Mikil innblástur var fengin frá myndskeiðum á netinu af örmum úr lego þar sem menn hafa fátt annað en tannhjól og
	sína eigin úrlausnamiðuðu sköpunargáfu.</p>
<img src="/images/image copy.png" alt="Skjáskot úr myndskeiði Alex Allmont's">
<p>Í mynd 1 sést hönnun sem notast við núning og snúning á einu tannhjóli. Þegar tannhjólið snýst byrjar það á að loka
	arminu og þegar honum er lokað hættir tannhjólið að geta snúið tannhjólinu sem lokar honum og þá snýst armurinn
	allur um aðal tannhjólið.</p>
<h4>Fyrsta hönnun</h4>
<p>Þegar við skoðum hreyfinguna sem armurinn þarf að fara til að uppfyla kröfurnar þá er þetta 20cm áfram og 35cm upp.
	Með smá hjálp frá pýþagóras fáum við arminn sem við þurfum fyrir heildarlengdina sem er umþb 40cm.</p>
<img src="/images/image.png" alt="Fyrsta teikning til að prufa hreyfingu">
<p>Mynd 2 er bara teikning af einum helmingi sem við skárum út úr akríl með geislaskurð. Stöðugleikinn til vinstri og
	hægri var ekki nógu stöðugur. Hvað vantar/er ábótavant?</p>
<ol>
	<li>Stöðugleiki</li>
	<li>Það þarf gífurlegt álag til að fá arminn til að byrja að fara upp</li>
	<li>Vantar vegg/þyng til að stöðva hliðina frá því að hvolfast</li>
</ol>
<p>Grunn hönnuninn eru tveir armar og hlið sem takmarkar hreyfinguna. Hann hittir á vegg og er með rás sem leyfir
	hreyfingu beint upp. Þannig þegar litli armurinn snýr þá ýtir hann stóra sem ýtir hliðinni sem klessir á veggin og
	þá byrjar hann að fara upp.</p>
<h4>Hönnun 2</h4>
<img src="/images/image copy 2.png" alt="Teikning með lengri vegg og þaki til að stöðva hvolfun">
<p>Skárum út risa tannhjól með 12 götum allan hringinn til að geta sett bönd í gegnum til að hjálpa með breytinguna á
	stefnu hreyfingarnar. Að hætta að fara beint og byrja að fara upp. Smíðuðum stærri framvegg sem á að geta lagað
	stöðugleikann. Þegar samsetningin er búin þá kemur í ljós að stöðugleiki grindarinnar er lagaður en hliðarnar sem
	stýra hreyfingunni eru með frjálsar frelsisgráður til hliðanna.</p>
<img src="/images/honnun2.jpg" alt="Robin klementínu kassa festingar til að stjórna hreyfingu">
<h4>Hönnun 3</h4>
<p>Þakið á mynd 2 sem hélt hliðonum niðri brotnaði rétt fyrir sýningu og þurfti þá að endurhugsa þann hluta
	hönnunarinar. Við notuðum tækifærið og ræddum saman um hönnunina frá grunni.</p>
<h5>Gallr</h5>

<ol>
	<li>Hliðartálmarnir sem hitta á veginn og leiða arminn upp eru of frjálsir</li>
	<li>Breyting hreyfingar er með stífan punkt</li>
	<li>Framveggurinn er líka of hár og byrjaði að lyfta arminum of snemma. Það leysti samt fyrra vandamálið.</li>
</ol>
<img src="/images/honnun3.jpg" alt="Töfluteikningar af lausnum">
<h5>Lausnir</h5>
<ol>
	<li>Búa til hylki utan um hliðartálmana</li>
	<li>Bæta við auka bandi sem togar arminn upp á hjólinu</li>
	<li>Lækka vegginn</li>
</ol>
<img src="/images/image copy 3.png" alt="Hylkin sem fækka freslsisgráðum hliðartálmanna">
<img src="/images/h33.jpg" alt="Loka samsetning">
<img src="/images/h32.jpg" alt="Loka samsetning">
<img src="/images/h31.jpg" alt="Loka samsetning">
<p>Reimarnar sem festa stöngina sem armurinn lyftir verða spenntar þegar armurinn er búinn að ýta stönginni alla leiðina
	út. Gefur þó þjarkinum aflið til þess að gera hreyfinguna mjúka. Það er líka strengur sem togar á móti arminum þegar
	hann er búin að ýta alla leiðina út til að draga hann til baka svo hann haldi betra jafnvægi. Hreyfinginn virkar og
	þá er hönnuninn og smíðin búin.</p>
<h2>Hönnun klóar</h2>
<img src="/images/image copy 4.png" alt="Teikningar af klónni">
<p>Klóin er laus í festingunni sem er superglue-uð við arminn sem lyfit henni. Hún getur því hallað fram og aftur. Þar
	sem að vín glasið er samhverft heldur það sér sjálfu jöfnu. Gallinn er þó að skera út hólf framan á klóni veldur því
	að hún er mikið léttari þar. Þó að það séu holur aftaná. Hægt er að þræða spotta í gegnum holurnar og spenna svo á
	þeim til að hella glasinu. Við komumst aldrei svo langt.</p>
<img src="/images/kloreal.jpg" alt="Klóin">
<h2>Keyrslu örðugleikar</h2>
<p>Þar sem við settum smá meiri tíma í að hugsa um hönnunina til að reyna að uppfyla frumleika skilyrðið misstum við af
	stýringunum fyrir 1.4Nm mótorana. Sem betur fer er hægt að kaupa hina ýmsu íhluti hjá media.is og var hann svo
	almennilegur að koma og aðstoða mig og selja mér mótóra og stýringar. Mótorarnir eru þó einungis 0.25Nm og eina 12V
	rafmagns innstungan sem ég fann sem virkaði var 2 amper. Okkur skortir því nokkuð kraftinn og $3.1^4$ földun á afli
	mótorsins með tannhjólum ekki nóg til að lyfta glasinu. Þá snérist líka risa tannhjólið lötur hægt. Stóra tannhjólið
	var einnig ekki nógu fast og átti það til að renna af tannhjólinu sem átti að snúa því. Tannhjóla samsetninginn
	okkar var líka beturbætanlega. Við vorum með skrúfur sem tannhjólinu gátu snúist um þar sem allar stanginar voru
	búnar. Stangir eru samt þannig í laginu að þær valla fram og til baka í gatinu. Gátum haldið þeim stöðugum með því
	að festa þær saman með spotta.</p>
<img src="/images/tannhjol.jpg" alt="Tannhjól bundin saman">
<h2>Beturbætur</h2>
<img src="/images/beturbætur.jpg" alt="Mynd af hönnuninni samsettri">
<p>Ef tími væri til að gera beturbætur á hönnuninni. Þá væri sniðugt að breyta hjólinu í þrjá arma með götum sem erm eru
	einu götin í notkun. Þá er hægt að hafa það fast við 3d prentaða stöng sem hefur tannhjól sem kemur út á hliðinni.
	Þá væri hægt að byggja hýsingu á annari undirstöðu hjólsins þar sem mótorinn væri fastur. Öflugri mótor og betri 12V
	rafmagn mundi hjálpa til að búa til aflið og hraðan sem þarf til að lyfta glasinu. Miðað við að þetta var eina
	hönnunin sem fór út fyrir kassan og gerði eitthvað nýtt kom þetta bara nokkuð vel út. Það var mikill mótþrói gegn
	hönnuninni. En hún virkar mekanískt bara spurningarmál um að keyra hana almennilega.</p>