
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0 auto;
	width: 90vw;
	max-width: 1080px;
}

main {
	width: fit-content;
	margin: 0 auto;
}


img {
	max-width: 720px;
	max-height: 720px;
	object-fit: scale-down;
	width: 100vw;
	text-align: center;
	justify-self: center;
	align-self: center;
}